/* Desktop12 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

p {
  margin: 0;
}

.clip-contents {
  overflow: hidden;
}

.flex-col-hstart-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-col-hcenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row-vstart-hstart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-row-vcenter-hcenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-row-vcenter-hstart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flex-col-hcenter-vcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-hstart-vcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.flex-col-hcenter-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.desktop-12 {
  background-color: rgba(255, 255, 255, 1);
  width: 1440px;
  height: 1550px;
}

.group-1104 {
  width: 100%;
}

.group-216 {
  padding: 23px 295px 24px 457px;
  margin-bottom: 70px;
  box-sizing: border-box;
  background: url(https://firebasestorage.googleapis.com/v0/b/unify-bc2ad.appspot.com/o/r05oncqswr-1%3A129?alt=media&token=ea7e63b5-4922-41e7-953d-89441d94435a);
  background-size: 100% 100%;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
  height: 70px;
  width: 100%;
}

.frame-230 {
  height: 100%;
}

.frame-228 {
  padding: 0px 6px;
  margin-right: 26px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  height: 100%;
}

.txt-430 {
  font-size: 14.29px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  word-wrap: break-word;
}

.frame-234 {
  padding: 0px 6px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  height: 100%;
}

.txt-430 {
  font-size: 14.29px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  word-wrap: break-word;
}

.frame-224 {
  margin-bottom: 79px;
  box-sizing: border-box;
  width: fit-content;
}

.frame-222 {
  margin-right: 792px;
  box-sizing: border-box;
  height: 100%;
}

.group-103 {
  margin-right: 10px;
  box-sizing: border-box;
  width: 311px;
  height: 100%;
}

.txt-474 {
  font-size: 28px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  color: rgba(64, 64, 64, 1);
  word-wrap: break-word;
}

.group-214 {
  width: 26px;
  height: 24px;
}

.group-2 {
  width: 143px;
  height: fit-content;
}

.frame-225 {
  padding: 4.71px 12.71px;
  box-sizing: border-box;
  border-radius: 1.29px;
  background-color: rgba(242, 242, 242, 1);
  border: 1.29px solid rgba(219, 219, 219, 1);
  width: 100%;
  height: 100%;
}

.frame-223 {
  padding: 0px 5.75px 0px 0px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.txt-476 {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: rgba(64, 64, 64, 1);
  word-wrap: break-word;
  margin-right: 50px;
}

.group-215 {
  width: 15.71px;
  height: 9.17px;
}

.frame-226 {
  margin-bottom: 16px;
  box-sizing: border-box;
  width: fit-content;
}

.frame-221 {
  margin-bottom: 62px;
  box-sizing: border-box;
  width: fit-content;
}

.group-210 {
  margin-right: 70px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  height: 100%;
}

.group-089 {
  margin-right: 24px;
  box-sizing: border-box;
  height: fit-content;
}

.frame-5 {
  margin-bottom: 14px;
  box-sizing: border-box;
  width: 100%;
}

.frame-212 {
  width: 100%;
  height: 100%;
}

.txt-483 {
  font-size: 17px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  line-height: 168%;
  color: rgba(64, 64, 64, 1);
  width: 194px;
  height: 25px;
  word-wrap: break-word;
  margin-bottom: 6px;
}

.frame-220 {
  padding: 3px 0px;
  margin-bottom: 6px;
  box-sizing: border-box;
  width: fit-content;
}

.txt-366 {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  color: rgba(135, 97, 225, 1);
  word-wrap: break-word;
}

.frame-212 {
  width: 100%;
}

.txt-144 {
  font-size: 13px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  line-height: 168%;
  color: rgba(64, 64, 64, 1);
  word-wrap: break-word;
}

.txt-1442 {
  font-weight: 500;
}

.txt-132 {
  font-size: 12px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  color: rgba(86, 36, 208, 1);
  word-wrap: break-word;
  margin-right: 7px;
}

.group-163 {
  width: 18px;
  height: 18px;
}

.rectangle-73 {
  background-color: rgba(255, 177, 0, 1);
  width: 4px;
  height: 70px;
}

.group-211 {
  width: 108px;
  height: 108px;
}

.group-213 {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  height: 100%;
}

.group-089 {
  margin-right: 24px;
  box-sizing: border-box;
  height: fit-content;
}

.frame-5 {
  margin-bottom: 14px;
  box-sizing: border-box;
  width: 100%;
}

.frame-212 {
  width: 100%;
  height: 100%;
}

.txt-483 {
  font-size: 17px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  line-height: 168%;
  color: rgba(64, 64, 64, 1);
  width: 194px;
  height: 25px;
  word-wrap: break-word;
  margin-bottom: 6px;
}

.frame-220 {
  padding: 3px 0px;
  margin-bottom: 6px;
  box-sizing: border-box;
  width: fit-content;
}

.txt-366 {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  color: rgba(135, 97, 225, 1);
  word-wrap: break-word;
}

.frame-212 {
  width: 100%;
}

.txt-144 {
  font-size: 13px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  line-height: 168%;
  color: rgba(64, 64, 64, 1);
  word-wrap: break-word;
}

.txt-1442 {
  font-weight: 500;
}

.txt-132 {
  font-size: 12px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  color: rgba(86, 36, 208, 1);
  word-wrap: break-word;
  margin-right: 7px;
}

.group-163 {
  width: 18px;
  height: 18px;
}

.rectangle-73 {
  background-color: rgba(255, 177, 0, 1);
  width: 4px;
  height: 70px;
}

.group-211 {
  width: 108px;
  height: 108px;
}

.frame-227 {
  padding: 0px 11px;
  box-sizing: border-box;
  width: 100%;
}

.frame-230 {
  width: 100%;
  height: 100%;
}

.group-210 {
  margin-right: 70px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  height: 100%;
}

.group-089 {
  margin-right: 24px;
  box-sizing: border-box;
  height: fit-content;
}

.frame-5 {
  margin-bottom: 14px;
  box-sizing: border-box;
  width: 100%;
}

.frame-212 {
  width: 100%;
  height: 100%;
}

.txt-483 {
  font-size: 17px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  line-height: 168%;
  color: rgba(64, 64, 64, 1);
  width: 194px;
  height: 25px;
  word-wrap: break-word;
  margin-bottom: 6px;
}

.frame-220 {
  padding: 3px 0px;
  margin-bottom: 6px;
  box-sizing: border-box;
  width: fit-content;
}

.txt-366 {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  color: rgba(135, 97, 225, 1);
  word-wrap: break-word;
}

.frame-212 {
  width: 100%;
}

.txt-144 {
  font-size: 13px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  line-height: 168%;
  color: rgba(64, 64, 64, 1);
  word-wrap: break-word;
}

.txt-1442 {
  font-weight: 500;
}

.txt-132 {
  font-size: 12px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  color: rgba(86, 36, 208, 1);
  word-wrap: break-word;
  margin-right: 7px;
}

.group-163 {
  width: 18px;
  height: 18px;
}

.rectangle-73 {
  background-color: rgba(255, 177, 0, 1);
  width: 4px;
  height: 70px;
}

.group-211 {
  width: 108px;
  height: 108px;
}

.group-213 {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  height: 100%;
}

.group-213 {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 100%;
}

.group-089 {
  margin-right: 24px;
  box-sizing: border-box;
  height: fit-content;
}

.frame-5 {
  margin-bottom: 14px;
  box-sizing: border-box;
  width: 100%;
}

.frame-212 {
  width: 100%;
  height: 100%;
}

.txt-483 {
  font-size: 17px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  line-height: 168%;
  color: rgba(64, 64, 64, 1);
  width: 194px;
  height: 25px;
  word-wrap: break-word;
  margin-bottom: 6px;
}

.frame-220 {
  padding: 3px 0px;
  margin-bottom: 6px;
  box-sizing: border-box;
  width: fit-content;
}

.txt-366 {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  color: rgba(135, 97, 225, 1);
  word-wrap: break-word;
}

.frame-212 {
  width: 100%;
}

.txt-144 {
  font-size: 13px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  line-height: 168%;
  color: rgba(64, 64, 64, 1);
  word-wrap: break-word;
}

.txt-1442 {
  font-weight: 500;
}

.txt-132 {
  font-size: 12px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  color: rgba(86, 36, 208, 1);
  word-wrap: break-word;
  margin-right: 7px;
}

.group-163 {
  width: 18px;
  height: 18px;
}

.rectangle-73 {
  background-color: rgba(255, 177, 0, 1);
  width: 4px;
  height: 70px;
}

.group-211 {
  width: 108px;
  height: 108px;
}

.frame-201 {
  padding: 0px 0px 22px 0px;
  box-sizing: border-box;
  background: linear-gradient(
    -68.08deg,
    rgba(86, 36, 208, 1) 0%,
    rgba(178, 152, 239, 1) 100%
  );
  width: 100%;
}

.group-747 {
  padding: 29px 142px;
  margin-bottom: 58px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(121, 81, 220, 1);
  height: 132px;
  width: 100%;
}

.frame-202 {
  width: 100%;
  height: 100%;
}

.image-3 {
  width: 193px;
  height: 69px;
  margin-right: 441px;
}

.txt-779 {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: rgba(64, 64, 64, 1);
  width: 521px;
  word-wrap: break-word;
}

.frame-209 {
  margin-bottom: 38px;
  box-sizing: border-box;
  width: fit-content;
}

.image-4 {
  width: 302px;
  height: 142px;
  margin-right: 115px;
}

.frame-230 {
  height: 100%;
}

.frame-206 {
  margin-right: 110px;
  box-sizing: border-box;
  height: fit-content;
}

.txt-1087 {
  font-size: 22px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  word-wrap: break-word;
  margin-bottom: 18px;
}

.frame-205 {
  width: 100%;
}

.frame-203 {
  margin-bottom: 9px;
  box-sizing: border-box;
  width: fit-content;
}

.group {
  width: 10px;
  height: 10px;
  margin-right: 6px;
}

.txt-892 {
  font-size: 18px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  word-wrap: break-word;
}

.frame-204 {
  width: 100%;
}

.group-206 {
  width: 11.01px;
  height: 11px;
  margin-right: 6px;
}

.txt-892 {
  font-size: 18px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  word-wrap: break-word;
}

.frame-206 {
  margin-right: 110px;
  box-sizing: border-box;
  height: fit-content;
}

.txt-614 {
  font-size: 22px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  word-wrap: break-word;
  margin-bottom: 15px;
}

.frame-205 {
  width: 100%;
}

.frame-203 {
  margin-bottom: 9px;
  box-sizing: border-box;
  width: fit-content;
}

.clarity-video-gallery-line {
  width: 13px;
  height: 15px;
  margin-right: 6px;
}

.txt-892 {
  font-size: 18px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  word-wrap: break-word;
}

.frame-203 {
  margin-bottom: 9px;
  box-sizing: border-box;
  width: 100%;
}

.group-205 {
  width: 14px;
  height: 12.73px;
  margin-right: 6px;
}

.txt-892 {
  font-size: 18px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  word-wrap: break-word;
}

.frame-204 {
  width: fit-content;
}

.vector {
  width: 13px;
  height: 13px;
  margin-right: 6px;
}

.txt-892 {
  font-size: 18px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  word-wrap: break-word;
}

.frame-212 {
  height: 100%;
}

.txt-614 {
  font-size: 22px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  word-wrap: break-word;
  margin-bottom: 15px;
}

.frame-205 {
  width: 100%;
}

.frame-2031 {
  margin-bottom: 21px;
  box-sizing: border-box;
  width: 100%;
}

.akar-icons-location {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.txt-360 {
  font-size: 18px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  width: 324px;
  word-wrap: break-word;
}

.frame-2041 {
  margin-bottom: 21px;
  box-sizing: border-box;
  width: fit-content;
}

.clarity-email-line {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.txt-892 {
  font-size: 18px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  word-wrap: break-word;
}

.frame-204 {
  width: fit-content;
}

.akar-icons-location {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.txt-892 {
  font-size: 18px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  word-wrap: break-word;
}

.line-5 {
  border: 1px solid rgba(72, 18, 255, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 1220px;
  height: 1px;
  margin-bottom: 15px;
}

.frame-204 {
  width: fit-content;
}

.txt-856 {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 173%;
  color: rgba(255, 255, 255, 1);
  word-wrap: break-word;
  margin-right: 642px;
}

.txt-8562 {
  font-size: 14px;
}

.frame-216 {
  width: 130px;
  height: 34px;
}
